/* SBP Recommendation Box */
.sbp-recommendation-box {
    padding-left: 1em;
    padding-right: 1em;
    background-color: #dfdee3;
}

.sbp-recommendation-box-description {
    color: #ff9900;
}

.sbp-recommendation-box-title {
    float: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-right: 10px;
}

/* SBP Author's Notes Box */
.sbp-authors-notes-box {
    padding-left: 1em;
    padding-right: 1em;
    background-color: #dfdee3;
}

.sbp-authors-notes-box-description {
    color: #ff9900;
}

.sbp-authors-notes-box-title {
    float: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-right: 10px;
}